* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    margin: 0;
}

body {

    background-color: #222831;
}

body.active {
    background-color: #dfeaea;
}

.main {
    padding: 30px 30px 30px 30px;
    margin: 0 auto;
    width: 40%;
}



.darkLightMode {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    background-color: #ececec;
    color: black;
    border: none;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}

h1.active {
    color: #006666;
}

form {
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 15px;
    background-color: white;
    border: none;
    width: 70%;
    border-radius: 5px;
}

input.addTask.active,
input.search.active {
    background-color: white;
}

.label {
    width: 100%;
    text-align: left;
    margin: 10px 0 10px 0;
    padding-left: 10px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
}

input.search {
    width: 100%;
}

div.label.active {
    color: #006666
}

button.addTask {
    width: 29%;
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}

button.addTask.active {
    background-color: #006666;
    color: white;
}

button.addTask:hover {
    cursor: pointer;
}

div.taskList {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

div.task {
    margin-top: 2%;
    width: 78%;
    margin-right: 2%;
    padding: 20px 20px 20px 20px;
    background-color: #30475e;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

div.task span {
    text-decoration: underline;
}

div.task.active {
    background-color: white;
    color: #006666;
}

div.task:hover {
    cursor: pointer;
}

div.icon {
    background-color: transparent;
}

button.delate {
    margin-top: 2%;

    border: none;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 20%;
    background-color: #30475e;
    color: white;
}

button.delate:hover {
    cursor: pointer;
}

button.delate.active {
    background-color: #006666;
    color: white;
}

@media (orientation: portrait) and (max-width: 1024px) {
    .main {
        padding: 30px 30px 30px 30px;
        margin: 0 auto;
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    button.addTask {
        width: 28%;
    }

    div.formular {
        display: inline-block;
        width: 100%;
    }

    .darkLightMode {
        position: static;
        margin-bottom: 30px;
        padding: 10px 10px 10px 10px;
        text-transform: uppercase;
        background-color: #ececec;
        color: black;
        border: none;
    }
}